<% layout('layouts/custom') -%>
<div class="container">
    <br><br><br><br><br>
    <h1>This page has <span class="badge rounded-pill bg-danger">Custom</span> style by <span style="background-color: #7952b3;" class="badge rounded-pill">Bootstrap</span></h1>
</div>