<% layout('layouts/custom') -%>
<div class="container">
    <br><br><br><br><br>
    <h1>It's page have <span class="badge bg-danger bg-secondary">Custom</span> style by <span style="background-color: #7952b3;" class="badge rounded-pill">Bootstrap</span></h1>
</div>