<% layout('layouts/custom') -%>
<br><br><br><br><br>
<div class="container">
    <% if (post) { %>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/edit/<%= post._id %>?_method=PUT" method="POST">
                    <div class="card-title mb-3">
                        <label for="postTitle" class="form-label">Edit title</label>
                        <textarea class="form-control" id="postTitle" name="title" rows="1"><%= post.title %></textarea>
                      </div>
                      <div class="card-text mb-3">
                        <label for="postDescription" class="form-label">Edit description</label>
                        <textarea class="form-control" id="postDescription" name="description" rows="10"><%= post.description %></textarea>
                      </div>
                      <a href="/<%= post._id %>" class="btn btn-primary">Back</a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
              </div>                    
        </div>
<% } else { %>
<p>No articles!</p>
<% } %>
</div>